@charset "utf-8";
body {
	padding-top: 0px;
}
h1,h2,h3,h4,h5,h6,h7 {
	font-weight:bold;
}
.DocumentTitle>h1,.DocumentTitle>h2,.DocumentTitle>h3,.DocumentTitle>h4,.DocumentTitle>h5 {
	color:#fff;
}
.FullContainer {
	clear: both;
}
#DocumentTitleContainer {
	clear:both;
	background-image:url(../Images/DocumentBg.png);
	background-repeat:repeat-x;
	height:200px;
	color:#fff;
	width:100%;
}
#DocumentTitleContainerSmall {
	clear:both;
	background-image:url(../Images/DocumentBg.png);
	background-repeat:repeat-x;
	height:60px;
	position:absolute;
	left:0px;
	right:0px;
	color:#fff;
	width:100%;
	z-index:999;
}
#DocumentLeftPanel {
	background-color: #f1f1f1;
	padding: 10px;
	width: 300px;
	position: absolute;
	left: 0px;
	top: 200px;
	min-height:200px;
}
#DocumentContent {
	position:absolute;
	top: 200px;
	left: 320px;
	padding-top: 60px;
	padding-right: 20px;
}
#DocumentContent p{
	text-indent:2em;
	font-size:14px;
}
ul.DocumentDirLv1 {
	list-style:none;
	line-height:220%;
	margin:0px;
	padding:0px;
	font-size:16px;
	font-weight:bold;
}
ul.DocumentDirLv2 {
	list-style:none;
	line-height:220%;
	margin-left:30px;
	padding:0px;
	font-size:14px;
	font-weight:normal;
}

