<!DOCTYPE html>
<%@ Master Language="C#" %>
<script runat="server">
    bool IsAdmin;
    
    protected void Page_Load(object Sender, EventArgs e) {
        if (Session["UserId"] == null) Response.Redirect("Login.html", true);
        if (Session["UserRole"] == null && Session["UserRole"].ToString().IndexOf("system") == -1) {
            IsAdmin = false;
        } else {
            IsAdmin = true;
        }
    }
</script>
<html>
<head runat="server">
    <meta charset="utf-8" />
    <title></title>
    <link href="Bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="Bootstrap/css/bootstrap-theme-cerulean.min.css" rel="stylesheet" type="text/css">
    <link href="jquery-ui/css/redmond/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" type="text/css">
    <link href="Css/theme-ui.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="Scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="Bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="jquery-ui/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="Scripts/jQuery.Bootstrap.WebUI.js"></script>
    <script type="text/javascript">
        function SwitchMenu(who) {
            //$("#MenuList li").removeClass("active");
            $("#MenuList #" + who).addClass("active");
        }

    </script>
    <asp:ContentPlaceHolder ID="PageHead" runat="server" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="Default.aspx">爱游戏&nbsp;CP支撑平台</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav" id="MenuList">
                <li id="MenuDefault"><a href="Default.aspx">首页</a></li>
                <li id="MenuDocument"><a href="#" class="dropdown-toggle" data-toggle="dropdown">文档中心&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="Default_TurnRun.aspx">单机SDK开发文档</a></li>
                        <li><a href="Default_TurnRun.aspx">网游SDK开发文档</a></li>
                        <li><a href="DocumentList.aspx">所有文档</a></li>
                    </ul>
                </li>
                <li id="MenuHelp"><a href="QuestionList.aspx">咨询中心</a></li>
                <%if (IsAdmin) { %>
                <li id="MenuClass"><a href="ClassList.aspx">分类管理</a></li>
                <li id="MenuUser"><a href="UserList.aspx">用户管理</a></li>
                <li id="MenuCP"><a href="CPList.aspx">CP管理</a></li>
                <%} %>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right: 10px;">
                <li><a href="Logout.aspx"><%=Session["UserName"] %>&nbsp;退出</a></li>
            </ul>
        </div>
    </nav>
    <asp:ContentPlaceHolder ID="PageContent" runat="server" />
</body>
</html>
