<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="DBConn2" connectionString="Data Source=db.huaqiart.com;Initial Catalog=dbh260027;User ID=h260027;Password=vrnycmw7837253;Max Pool Size=200;Pooling=true;Connection Lifetime=10" providerName="System.Data.SqlClient"/>
		<add name="DBConn" connectionString="Data Source=180.96.63.69;Initial Catalog=SupportPlatform;User ID=supportuser;Password=GAme189!@!@;Max Pool Size=200;Pooling=true;Connection Lifetime=10" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.web>
    <customErrors mode="Off"/>
	<compilation debug="true"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
  </system.web>

</configuration>
